.x-table-wrap {

}
.x-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background: #fff;
  font-size: 14px;
}
.x-table th,
.x-table td {
  padding: 12px 15px;
  border: 1px solid #f4f4f4;
  text-align: left;
  font-weight: 400;
}
.x-table tr:nth-child(2n) {
  background: #f9f9f9;
}
.x-table__link {
  color: #0273b7;
  cursor: pointer;
}
.x-table__operation {
  color: #0273b7;
  cursor: pointer;
  margin-right: 5px;
}
