.appnav-wrap {
  width: 180px;
  position: fixed;
  top: 60px;
  bottom: 0;
  /*overflow-y: hidden;*/
}
.appnav {
  position: absolute;;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 16px;
  color:#b8c7ce;
  background: #333e51;
  overflow: hidden;
}
.appnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.appnav-lv2,
.appnav-lv3 {
  display: none;
}

.appnav-lv1 {

}
.appnav-lv1 > li {
  width: 180px;
}

.lv1-title {
  padding: 13px 20px;
  border-left: 5px solid #333e51;
  cursor: pointer;
}
.lv1-title > .icon,
.lv1-title > span {
  display: inline-block;
  /*vertical-align: middle;*/
}
.lv1-title .icon {
  /*margin-right: 20px;*/
  /*font-size: 20px;*/
}
.active > .lv1-title {
  border-color: #3398db;
  background: #252b3c;
}

.appnav-lv2 {
  width: 200px;
  font-size: 14px;
  background: #40506d;
  overflow-y: auto;
  overflow-x: hidden;
}
.active .appnav-lv2 {
  display: block;
}
.appnav-lv2 > li {
  position: relative;
  padding: 15px 24px;
  cursor: pointer;
}
.appnav-lv2 > li:hover,
.appnav-lv2 > li.active {
  background: #252c3c;
}
.appnav-lv2 > li.active > span {
  color: #fff;
}

li:hover > .appnav-lv3 {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #4e596c;
}
.appnav-lv3 li {
  padding: 15px 24px;
}
.appnav-lv3 li:hover,
.appnav-lv3 li.active {
  background: #252c3c;
}
.appnav-lv3 li:first-child {
  height: 46px;
  background: #252c3c;
  border-top-right-radius: 6px;
}
.appnav-lv3 li:last-child {
  border-bottom-right-radius: 6px;
}
