/* 全局样式 */
*, *:before, *:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
body {
  font: 14px/1 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
button {
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
