/* ==============================
 *  默认样式
 * ============================== */
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: #e7ecef;
  font: 14px/1 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

/* ==============================
 *  容器类
 * ============================== */
.l-app {
  min-width: 960px;
}
.l-app__top {
  height: 60px;
}
.l-app__left {
  width: 180px;
}
.l-app__main {
  position: absolute;
  top: 60px;
  left: 180px;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.l-app__page {
  padding: 20px 15px 20px;
}

.l-cnt {
  background: #fff;
  padding-bottom: 50px;
}
.l-cnt__title-bar {
  line-height: 50px;
  padding: 0 15px;
}


/* ==============================
 *  组件类
 * ============================== */
.toolbar {
  padding: 18px 15px 30px;
  border-top: 1px solid #f0f2f4;
}
.toolbar__left {
  /*padding-left: 15px;*/
  float: left;
}
.toolbar__right {
  float: right;
}
.toolbar__btn {
  margin-right: 5px;
}
.search {
  display: inline-block;
}
.search__input {
  /*background: #f9f9f9;*/
  height: 34px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border: 1px solid #ddd;
}
.search__button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
}

.x-select {
  height: 34px;
  border: 1px solid #ddd;
  border-radius: 2px;
  outline: none;
  padding: 5px 10px;
}

.slim-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slim-list__row {
  height: 48px;
  line-height: 48px;
  border-left: 6px solid #596372;
  padding-left: 15px;
  color: #4a4a4a;
  border-bottom: #f4f4f4;
}
.slim-list__row:nth-child(2n+1) {
  background-color: #f9f9f9;
}
.slim-list__order {
  display: inline-block;
  /*width: 2em;*/
  vertical-align: middle;
  margin-right: 10px;
}
.slim-list__text {
  display: inline-block;
  width: 200px; /* 页面重写width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  margin-right: 10px;
}
.slim-list__ctrl {
  vertical-align: middle;
  color: #acb3bd;
  cursor: pointer;
  margin-right: 10px;
}

/* ==============================
 *  工具类
 * ============================== */

 /* clearfix */
 .u-cf:before,
 .u-cf:after {
   content: '';
   display: table;
 }
 .u-cf:after {
   clear: both;
 }

