/* ==============================
 *  默认样式
 * ============================== */
*, *:before, *:after {
  box-sizing: border-box;
}

/* ==============================
 *  工具类
 * ============================== */
 
 /* clearfix */
 .u-cf:before,
 .u-cf:after {
   content: '';
   display: table;
 }
 .u-cf:after {
   clear: both;
 }
 
body {
  background: #e7ecef;
  font: 14px/1 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
/*button {
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}*/


